{% extends 'base.html' %}

{% block content %}
    <h1 class="title">
        About DIS-G
    </h1>
    <h2>The ultimate vision</h2>
    <p>
    Just imagine: You are in Copenhagen, on your way home, and you need something, as humans are wont to do.
    Except; you have no idea where that item is located, and you hate Google Maps because it takes up too much
    battery and data, and buuh convenience.
    </p>
    <h2>Enter DIS-G! </h2>
    <p>
    This website is your haven. We strive to help you navigate the amenities along the s-trains by simple queries,
        created to support your every desire. Do you want to know which stop to exit at, in order to find the most
        possible number of grocery stores? Us as well! Would you prefer to walk at least 20 minutes for a toilet?
        Well that one is more of a stretch, but to each their own.
        All you have to do, is simply enter what you want to know, and we will provide you with the stations, addresses
        and types that correlate to your question. It is really that simple!
    </p>
    <h2>But I have no map...</h2>
    <p>
    Well that's a jiffy. However, we have conveniently included a map just for you! This map can be found under the
        section titled 'Map'. It might not be the most detailed map, but we are sure you can make it work!
    </p>
    <h2>The Dream</h2>
    <p>
    The dream is (obviously) to ensure that anyone who travels along the s-train network can always locate a toilet
        close-by, knows how to find bicycle-parking even if two stations over, and always have a kebab only a query away.
    </p>
{% endblock %}