{% extends 'base.html' %}

{% block css %}
    <style>
        main {
            box-sizing: border-box;
        }
    </style>
{% endblock %}

{% block content %}

{#    {% include 'components/filter.html' %}#}
    <div class="row">
        <div class="column search-input">
            <form method="POST" action="{{ url_for('home.search') }}">
                {{ form.hidden_tag() }}

                <div class="form-group">
                    <div>{{ form.line.label }}</div>
                    <div>{{ form.line }}</div>
                    <br>
                </div>

                <div class="form-group">
                    <div>{{ form.origin.label }}</div>
                    <div>{{ form.origin }}</div>
                    <br>
                </div>

                <div class="form-group">
                    <div>{{ form.destination.label }}</div>
                    <div>{{ form.destination }}</div>
                    <br>
                </div>

                <div class="form-group">
                    <div>{{ form.tags.label }}</div>
                    <div>{{ form.tags }}</div>
                    <br>
                </div>

                <div>
                    <div>{{ form.submit(class="btn") }}</div>
                    <div><a href="{{ url_for('home.search') }}" class="btn">Clear filters</a></div>
                </div>
            </form>
        </div>

        <div class="column search-results">
            {% if results|length %}
                <table>
                    <tr>
                        <th>Station</th>
                        <th>Minutes to walk</th>
                        <th>Amenity</th>
                        <th>Address</th>
                        <th>Tag</th>
                    </tr>
                    {% for r in results %}
                        <tr>
                            <td>{{ r.station }}</td>
                            <td>{{ r.minutes_to_walk }}</td>
                            <td>{{ r.name }}</td>
                            <td>{{ r.address }}</td>
                            <td>{{ r.tag }}</td>
                        </tr>
                    {% endfor %}
                </table>
        {% else %}
        {% endif %}
        </div>
    </div>


{% endblock %}

{% block js %}
    <script>
        let food_select = document.get.elementById('food');

        food_select.onchange = function(){
            food = food_select.value;
            alert(food);
        }
    </script>
{% endblock %}