{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="column search-input">
            <form method={{ 'post' }} action="{{ url_for('tag.edit_tag') }}">
                {{ form.hidden_tag() }}
                <div class="form-group">
                   <label><a href="{{ url_for('tag.tags') }}" class="btn">Cancel</a></label>
                    <span>{{ form.edit(class="btn") }}</span>
                </div>
                <div style="display: none" class="form-group">
                    <label>{{ form.old_type.label }}</label>
                    <span>{{ form.old_type }}</span>
                </div>
                <div class="form-group">
                    <label>{{ form.type.label }}</label>
                    <span>{{ form.type }}</span>
                </div>
            </form>
        </div>

        <div class="column search-results">
            {% if table_data|length %}
                <table>
                    <tr>
                        {% for col in columns %}
                            <th>{{ col[1] }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in table_data %}
                        <tr>
                            {% for col in columns %}
                                {% if col[2] == "data" %}
                                    <td>{{ r[col[0]] }}</td>
                                {% elif col[2] == "edit" %}
                                    <form action="{{ url_for('tag.select_tag', type=r.type) }}" method=post>
                                        <td style="cursor: pointer;"><input type=submit value=&#9998;></td>
                                    </form>
                                {% elif col[2] == "delete" %}
                                    <form action="{{ url_for('tag.delete_tag', type=r.type) }}" method=post>
                                        <td style="cursor: pointer;"><input type=submit value=&#x2716;></td>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}
