{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="column search-input">
            <form method={{ method }} action="{{ url_for(action) }}">
                {{ form.hidden_tag() }}
                {% for field in form %}
                    {% if field.label.text == "Search" %}
                        <div class="form-group">
                            <label><a href="{{ url_for(action) }}" class="btn">Clear filters</a></label>
                            <span>{{ form.submit(class="btn") }}</span>
                        </div>
                    {% elif field.label.text == "CSRF Token" %}
                        <div></div>
                    {% else %}
                        <div class="form-group">
                            <label>{{ field.label }}</label>
                            <span>{{ field }}</span>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>
        </div>

        <div class="column search-results">
            {% if table_data|length %}
                <table>
                    <tr>
                        {% for col in columns %}
                            <th>{{ col[1] }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in table_data %}
                        <tr>
                            {% for col in columns %}
                                {% if col[2] == "data" %}
                                    <td>{{ r[col[0]] }}</td>
                                {% elif col[2] == "edit" %}
                                    <td style="cursor: pointer;">&#9998;</td>
                                {% elif col[2] == "delete" %}
                                    <form action="{{ url_for('station.delete_station', name=r.name) }}" method=post>
                                        <td style="cursor: pointer;"><input type=submit value=&#x2716;></td>
                                    </form>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
            {% endif %}
        </div>
    </div>
{% endblock %}
