<div class="row">
    <div class="header">
        <ul>
            <li><h1>SLookup</h1></li>
            <li><a href="{{ url_for('home.search') }}">Search</a></li>
            <li><a href="{{ url_for('tag.tags') }}">Tags</a></li>
            <li><a href="{{ url_for('station.stations') }}">Stations</a></li>
            <li><a href="{{ url_for('location.locations') }}">Locations</a></li>
            <li><a href="{{ url_for('amenity.amenities') }}">Amenities</a></li>
            <li><a href="{{ url_for('line.lines') }}">Lines</a></li>
            <li><a href="{{ url_for('home.about') }}">About</a></li>
        </ul>
    </div>
</div>
